/* Estilos generales para el cuerpo de la página */
body {
  background-color: rgba(255, 0, 255, 0.5); /* Fondo rosa semitransparente */
  display: flex; /* Modelo de diseño flexbox */
  align-items: center; /* Centrado verticalmente */
  justify-content: center; /* Centrado horizontalmente */
  height: 100vh; /* Altura del 100% de la ventana visible */
  margin: 0; /* Elimina el margen predeterminado */
  font-family: 'Arial', sans-serif; /* Fuente del texto */
}

/* Estilos para el contenedor principal */
.container {
  text-align: center; /* Centra el texto */
  padding: 20px; /* Relleno interno */
  background-color: #191919; /* Fondo oscuro */
  border-radius: 10px; /* Esquinas redondeadas */
  box-shadow: 0 0 10px rgba(255, 0, 255, 0.5), 0 0 20px rgba(255, 0, 255, 0.2); /* Sombra para efecto de profundidad */
}

/* Estilos para el encabezado */
h1 {
  color: #ffffff; /* Texto blanco */
}

/* Estilos para etiquetas */
label {
  color: #ff00ff; /* Texto púrpura */
  display: block; /* Muestra como bloque */
  margin-top: 10px; /* Margen superior */
}

/* Estilos para campos de entrada de texto */
input {
  padding: 10px; /* Espaciado interno */
  margin: 5px; /* Margen externo */
  border: none; /* Sin borde */
  background-color: #191919; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
  border-bottom: 2px solid #ff00ff; /* Borde inferior púrpura */
  outline: none; /* Sin contorno */
}

/* Estilos para botones */
button {
  background-color: #ff00ff; /* Fondo púrpura */
  color: #fff; /* Texto blanco */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Esquinas redondeadas */
  cursor: pointer; /* Cursor de puntero */
  font-size: 16px; /* Tamaño del texto */
  margin-top: 20px; /* Margen superior */
  outline: none; /* Sin contorno */
}

/* Estilos para el botón al pasar el ratón sobre él */
button:hover {
  background-color: #ff33ff; /* Fondo púrpura más claro al pasar el ratón */
}

/* Estilos para contenedor de página */
.page-container {
  display: flex; /* Modelo de diseño flexbox */
  flex-direction: column; /* Columna para contenido apilado */
  background-image: url(./img/copia1.jpg); /* Imagen de fondo */
  width: 700px; /* Ancho del contenedor */
  height: 300px; /* Altura del contenedor */
}

/* Estilos para el botón del menú */
.menu-btn {
  cursor: pointer; /* Cursor de puntero */
  position: fixed; /* Posición fija */
  top: 10px; /* Posicionamiento desde la parte superior */
  right: 30px; /* Posicionamiento desde la derecha */
  z-index: 2; /* Capa z-index */
}

/* Estilos para el ícono del botón del menú */
.menu-btn_burger {
  width: 50px; /* Ancho del ícono del menú */
  height: 40px; /* Altura del ícono del menú */
  background-color: rgb(255, 255, 255); /* Color de fondo blanco */
  margin: 6px 0; /* Margen superior e inferior */
  transition: 0.4s; /* Transición de animación */
}

/* Estilos para el ícono del botón del menú cuando está abierto */
.menu-btn.open .menu-btn_burger:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px); /* Rotación y traslación */
}

.menu-btn.open .menu-btn_burger:nth-child(2) {
  opacity: 0; /* Ícono central invisible cuando está abierto */
}

.menu-btn.open .menu-btn_burger:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px); /* Rotación y traslación */
}

/* Estilos para el menú lateral */
.menu {
  position: fixed; /* Posición fija */
  top: 0; /* Posicionamiento desde la parte superior */
  right: 10px; /* Posicionamiento desde la derecha */
  height: 100%; /* Altura del 100% */
  width: 0; /* Ancho inicial cero para ocultar */
  overflow-x: hidden; /* Oculta el desbordamiento horizontal */
  transition: 0.5s; /* Transición de animación */
  background-color: rgb(176, 38, 204); /* Color de fondo del menú */
}

/* Estilos para el menú lateral cuando está abierto */
.menu.open {
  width: 200px; /* Ancho del menú abierto */
}

.menu ul {
  list-style-type: none; /* Sin viñetas */
  padding: 30px; /* Relleno interno */
  margin: 0; /* Sin margen */
}

.menu li {
  padding: 20px; /* Relleno interno */
  font-size: 18px; /* Tamaño de fuente */
  transition: 0.3s; /* Transición de animación */
}

/* Estilos al pasar el ratón sobre los elementos del menú */
.menu li:hover {
  background-color: #ffffff; /* Fondo blanco al pasar el ratón */
}

/* Estilos para el contenedor de contenido */
.content-container {
  margin-top: 50px; /* Margen superior */
   /* Ajusta el margen según tus necesidades */
}

/* Estilos para el botón morado */
.purple-button {
  background-color: #330033; /* Color morado oscuro */
  color: #fff; /* Texto blanco */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Esquinas redondeadas */
  cursor: pointer; /* Cursor de puntero */
  font-size: 16px; /* Tamaño de fuente */
  margin: 10px; /* Margen externo */
  outline: none; /* Sin contorno */
}

/* Estilos al pasar el ratón sobre el botón morado */
.purple-button:hover {
  background-color: #550055; /* Color morado más oscuro al pasar el ratón */
}

/* Estilos para pantallas más pequeñas (ancho igual o menor a 768px) */
@media screen and (max-width: 768px) {
  .menu-btn {
    top: 20px; /* Ajuste de posición en pantallas pequeñas */
    right: 20px; /* Ajuste de posición en pantallas pequeñas */
  }

  .menu {
    width: 100%; /* Ancho del 100% cuando está abierto en pantallas pequeñas */
  }

  .menu-btn_burger {
    width: 30px; /* Ancho reducido del ícono del menú en pantallas pequeñas */
  }

  .menu li {
    font-size: 16px; /* Tamaño de fuente reducido en pantallas pequeñas */
  }

  .content-container {
    margin-top: 20px; /* Margen superior reducido en pantallas pequeñas */
  }
}

/* Estilos para modales */
.modal {
  display: block; /* Mostrar modal */
  position: fixed; /* Posición fija */
  top: 0; /* Posicionamiento desde la parte superior */
  left: 0; /* Posicionamiento desde la izquierda */
  width: 100%; /* Ancho del 100% */
  height: 100%; /* Altura del 100% */
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente oscuro */
}

.modal-content {
  position: absolute; /* Posición absoluta dentro del modal */
  top: 50%; /* Posicionamiento desde la parte superior al 50% */
  left: 50%; /* Posicionamiento desde la izquierda al 50% */
  transform: translate(-50%, -50%); /* Centrar vertical y horizontalmente */
  background: white; /* Fondo blanco */
  padding: 20px; /* Relleno interno */
}

.close {
  position: absolute; /* Posición absoluta */
  top: 10px; /* Posicionamiento desde la parte superior */
  right: 10px; /* Posicionamiento desde la derecha */
  cursor: pointer; /* Cursor de puntero */
}

